@page
@model WebApplication4.Pages.ContactModel
@{
}

<title>Contact Us</title>
<body >
    <div style="padding-left=30vh, padding-right=20vh" class="container-Maps">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe class="iframe20"
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=facultatea%20de%20automatica%20si%20calculatoare&t=&z=15&ie=UTF8&iwloc=&output=embed"
                        frameborder="0"
                        scrolling="no"
                        marginheight="200px"
                        marginwidth="20px">
                </iframe>
            </div>
        </div>
    </div>




    <div class="some-page-wrapper">
        <div class="row">
            <div class="column">
                <div class="blue-column">
                    <iframe class="iframeForm"
                            src="https://docs.google.com/forms/d/e/1FAIpQLSdnTg4VznL8-UahC4YCzFxAkzR9V8TZy3Hwljrxtzak51TxtA/viewform?embedded=true"
                            frameborder="0"
                            marginheight="0"
                            marginwidth="0">
                        Se încarcă...
                    </iframe>
                </div>
            </div>
            <div class="column">
                <div class="green-column">
                    <div class="vl">
                        <div class="p1">
                            <p>
                                <h3> <b> Contact Details </b></h3>
                                <br>
                            <p>Telefon:</b></p>
                            <br />
                            <p><b>021 9196 </b>- <small>avalible in all networks</small></p>
                            <br />
                            <p>
                                <b>0745 575 900</b> -<small>
                                    avalible in all networks from home and abroad
                                </small>
                            </p>
                            <hr>
                            </p>
                        </div>

                        <div class="p2">
                            <p>
                                <h3><b>Program
                            </p></b></h3>
                            <br>
                            <b><p> Monday – Friday:</b>   <small>   07:00 - 18:00</small></p>
                            <br>
                            <b><p>Saturday:</b> <small>08:00 - 13:00</small></p>
                            <br>
                            <b><p>Sunday:</b><small> Closed</small></p>
                            <br>
                            <hr>
                            </p>
                        </div>
                        <div class="p3">
                            <p>
                                <h3><b>
                            <p></p>Central headquarters</b></h3>
                            <br>
                            <b><p>Adress:</p></b>
                            <br>
                            <p><small>Bulevardul Decebal 107, Craiova 200776, Craiova, Judetul Dolj</small></p>
                            <br>
                            <b><p>Fax:</p></b>
                            <br>
                            <p><small>021/319.99.39</small></p>
                            <br>
                            <hr>
                            </p>
                        </div>

                        <div class="p4">
                            <p>
                                <h3><b>Corporate sales</b></h3>
                                <br>
                                <b> Fax:</b>
                                <br>
                                <small>021/319.99.39</small>
                                <br>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
